.users-container {
    margin: 10px;
    padding: 0px;
    border: 2px solid var(--color-white);
    border-radius: var(--border-radius);
    display: inline-block;
    overflow-y: auto;
}
  
.form-container {
  color: var(--default-background-color);
  background-color: var(--default-foreground-color);
  text-align: center;
  margin: 5px;
  padding: 10px;
  border-radius: var(--border-radius);
  border: 2px solid var(--color-white);
  box-shadow: 0px 15px 20px var(--color-black);
}

.calendar-container {
  border-radius: var(--border-radius);
  border: 2px solid var(--color-white);
}
  
.containerH, .containerV {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
  
.containerH {
  flex-direction: row;
}

.containerV {
  flex-direction: column;
}

.left {
  justify-content: right;  
}

.right {
  justify-content: left;
}

.center {
  display: inline-flex;
}

@media (prefers-color-scheme: light) {
  .users-container {
    border-color: var(--color-gray);
  }

  .form-container {
    border-color: var(--color-gray);
  }

  .calendar-container {
    border-color: var(--color-gray);
  }
}