:root {
    --font-mono: 'Roobert','-apple-system,BlinkMacSystemFont',"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

    --foreground-color: #b3b4cc;
    --background-color: #131016;

    --default-foreground-color: #b3b4cc;
    --default-background-color: #131016;

    --color-mainblue: #0088ff;

    --color-glass-transparent: #ffffff1c;
    --glass-blur: 5px;

    --modal-timeout-ms: 300ms;

    --color-black: #000000;
    --color-white: #cccccc;
    --color-gray: #2d2d3d;
    --color-blue: #3c3c8f;
    --color-lightblue: #5c84ce;
    --color-green: #3c8f3c;
    --color-red: #8f3c3c;
    --color-pink: #7e49b6;

    --border-radius: 10px;
    --border-radius-calendar: 3px;
}

@media (prefers-color-scheme: light) {
    :root {
        --foreground-color: #131016;
        --background-color: #b3b4cc;
    }
}

::selection {
    color: #ffffff;
    background-color: var(--color-mainblue);
}