.users-grid-container {
    display: inline-grid;
    grid-template-columns: repeat(3, max(min(200px, 24vw), 93px));
    grid-gap: 5px;
    grid-auto-flow: row;
    margin: 5px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    max-height: 300px;
}

.users-grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 0px;
    width: min(195px, calc(100% - 5px));
    height: 50px;
}

.users-grid-item > button {
    padding: 4px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.calendar-grid-container {
    background-color: var(--background-color);
    border-radius: var(--border-radius-calendar);
    display: inline-grid;
    grid-template-columns: repeat(7, max(min(120px, 12vw), 45px));
    grid-gap: 0px;
    grid-auto-flow: row;
    margin: 5px;
    padding: 2px;
}

.calendar-grid-item {
    background-color: var(--default-foreground-color);
    color: var(--color-gray);
    border-radius: var(--border-radius-calendar);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0px;
    width: min(115px, calc(100% - 5px));
}

.calendar-grid-item-daybox {
    width: 70%;
    height: 60%;
    border-radius: var(--border-radius-calendar);
    padding: 0px;
    margin: 0px auto 5% 20%;
    text-align: center;
    font-size: max(min(3vw, 1.5rem), 7px);
    overflow: hidden;
    color: var(--color-white);
}

.calendar-grid-item-daybox-number {
    border-top-left-radius: var(--border-radius-calendar);
    border-top-right-radius: var(--border-radius-calendar);
    padding: 1px 4px;
    margin: 0px;
    text-align: left;
    vertical-align: top;
    font-size: 1rem;
    font-weight: 400;
}

@media (prefers-color-scheme: light) {
    .calendar-grid-item {
        background-color: var(--color-lightgray);
    }
}