.overlay-form {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.ReactModal__Overlay {
    z-index: 10;
    backdrop-filter: blur(0px) brightness(100%);
    transition: backdrop-filter var(--modal-timeout-ms)
}

.ReactModal__Overlay--after-open {
    backdrop-filter: blur(var(--glass-blur)) brightness(50%);
}

.ReactModal__Overlay--before-close {
    backdrop-filter: blur(0px) brightness(100%);
}

.overlay-form-inner {
    position: relative;
    display: flex;
    top: clamp(0%, calc(50% - 250px), 250px);
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}